body {
  background-color: #ffb5b5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: #407088;
}
.container {
  margin: 120px auto;
  max-width: 600px;
  background-color: #ffb5b5;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 90px;
  font-family: "Fleur De Leah", serif;
  line-height: 1.5;
  color: #132743;
}

.form-container {
  background-color: #ffb5b5;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 15px 20px;
  padding-top: 25px;
  box-shadow: 0 px 20px 60px rgba(65, 50, 100, 0.08);
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  color: #6a6a6a;
  margin-top: 10px;
  font-size: 13px;
  opacity: 0.8;
  font-family: "Pacifico", serif;
}

.instructions {
  padding: 16px;
  border: 2px solid #407088;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  background-color: #407088;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 14px 24px;
  width: 150px;
  color: white;
  font-family: "Pacifico", serif;
}

.poem {
  font-size: 16px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/803/original/Image6.jpg?1735614510");
  background-size: 50%;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #407088;
  box-shadow: 0 px 20px 60px rgba(39, 33, 66, 0.03);
  border-radius: 10px;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 50px;
  font-family: "Pacifico", serif;
  color: #6a6a6a;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animsyion {
  to {
    visibility: hidden;
  }
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
